@font-face {
  font-family: 'Arsenica Trial Regular';
  src: url('./ArsenicaTrial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arsenica Trial Light';
  src: url('./ArsenicaTrial-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
